body {
    font-family: Arial, sans-serif;
    background: #fff7e6;
    margin: 0;
    padding: 0;
}

header {
    background: #ff6600;
    color: white;
    padding: 20px;
    text-align: center;
}

.menu-section, .order-section, .chart-section {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.menu-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: #fff;
    width: 200px;
    box-shadow: 0 4px 6px #ccc;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 10px;
}

.card img {
    width: 100%;
    height: 130px;
    border-radius: 10px 10px 0 0;
}

button {
    background: #ff6600;
    color: white;
    margin: 5px;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #cc5200;
}

footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
